<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.shop_demo.dao.IUserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.shop_demo.entity.User">
        <id column="uid" property="uid" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, username, password, name, email, phone, state
    </sql>

    <!--根据用户名查找用户-->
    <select id="queryUserByUsername" parameterType="String" resultType="User">
        select * from `user` where username = #{username}
    </select>

    <!--根据用户名和密码查找用户-->
    <select id="queryUserByUsernameAndPassword" parameterType="User" resultType="User">
        select * from `user` where username = #{username} and password = #{password}
    </select>

    <!--根据用户名、邮箱、手机号、姓名修改密码(找回密码)-->
    <update id="recoverPassword" parameterType="User">
        update `user` set password=#{password} where username=#{username} and email=#{email} and phone=#{phone} and name=#{name}
    </update>

</mapper>
